.khan {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__book-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.khan__book-pic {
  height: 620px;
  width: 608px;
  object-position: top;
  object-fit: cover;
}

.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  padding-left: 48px;
  text-decoration: none;
  color: #2f80ed;
}

.khan__buy-link:hover {
  opacity: 30%;
  transition: opacity 0.5s ease-in 0.1s;
}

.khan__container {
  width: 80%;
  margin: 105px auto 68px auto;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 10px;
}

.khan__quote {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding: 50px 0 36px 0;
  width: 790px;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}
