.feynman {
  background-color: #f2f2f2;
  min-height: 890px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  text-align: center;
  font-weight: normal;
  z-index: 2;
  margin: 0;
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  color: #2f80ed;
}

.feynman__link:hover {
  opacity: 30%;
  transition: opacity 0.5s ease-in 0.1s;
}

.feynman__main-illustration-image {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.feynman__main-illustration-image {
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  text-align: center;
  font-weight: bold;
  z-index: 2;
  padding: 100px 0 70px 0;
  margin: 0;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  text-align: center;
  font-weight: normal;
  z-index: 2;
  margin: 0;
}
