.cards__item {
  width: 240px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards__item:nth-child(2), .cards__item:nth-child(5) {
	margin: 0 100px 0 100px;
}
