.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.table {
    width: 1100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: 2;
    margin: 0 auto;
    padding: 0;
}

.table__cell {
    width: 250px;
    margin: 60px 0 0 0;
    padding: 0;
    list-style: none;
}

.table__heading {
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.table__text {
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    padding-top: 20px;
    margin: 0;
}
