.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  }

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  line-height: 1.2;
  align-self: flex-start;
  color: #2f80ed;
  margin: 0;
  font-weight: normal;
}

.two-columns__main-text {
  font-size: 24px;
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
}
.two-columns__paragraph:last-child {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}
