.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  padding-left: 48px;
  text-decoration: none;
  color: #2f80ed;
}

.khan__buy-link:hover {
  opacity: 30%;
  transition: opacity 0.5s ease-in 0.1s;
}
